{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
brew bundle --file=/dev/stdin <<EOF

# cli
brew "7zip"
brew "direnv"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "eza"
brew "fish"
brew "fisher"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "gnupg"
brew "htop"
brew "mise"
brew "neovim"
brew "starship"
brew "tmux"
brew "wget"
brew "yt-dlp"

# fonts
cask "font-monaspace"
cask "font-symbols-only-nerd-font"

# desktop applications
cask "1password"
cask "appcleaner"
cask "claude"
cask "claude-code"
cask "ghostty"
cask "orbstack"
cask "shottr"
cask "ungoogled-chromium"
cask "zed"
cask "zen"

{{ if eq .isWorkMachine "true" }}
brew "pulumi"
brew "schpet/tap/linear"

cask "bruno"
cask "firefox"
cask "gcloud-cli"
cask "jetbrains-toolbox"
cask "obsidian"
cask "slack"
cask "tableplus"
cask "utm"
{{ end }}

{{ if eq .isWorkMachine "false" }}
cask "autodesk-fusion"
cask "bambu-studio"
cask "calibre"
cask "discord"
cask "iina"
cask "moonlight"
cask "plex"
cask "plexamp"
cask "prismlauncher"
cask "signal"
cask "sonos"
cask "tailscale-app"
cask "transmission"
cask "utm@beta"
{{ end }}

EOF
{{ end -}}
