{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $isWorkMachine := promptBoolOnce . "isWorkMachine" "Is this your work machine" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  isWorkMachine = {{ $isWorkMachine | quote }}

[edit]
  command = "zed"
  args = ["--wait"]

{{ if eq .chezmoi.os "darwin" }}
[cd]
  command = "/opt/homebrew/bin/fish"
{{ end }}
