[Unit]
Description=Mount <Share Name> SMB Share at boot
Requires=systemd-networkd.service
After=network-online.target
Wants=network-online.target

[Mount]
What=//path/to/smb/share/path
Where=/mnt/mount/point
Options=credentials=/etc/samba/credentials/share,iocharset=utf8,rw,x-systemd.automount,gid=jack,uid=jack
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
