shell-integration-features = title,sudo,ssh-env,ssh-terminfo
theme = dark:catppuccin-mocha,light:catppuccin-latte
cursor-style = "block"
shell-integration-features = "no-cursor"
window-padding-x = 10
window-padding-y = 10

{{ if eq .chezmoi.os "darwin" }}
command = "/opt/homebrew/bin/fish"
font-family = "Monaspace Neon"
font-size = 16
macos-titlebar-proxy-icon = "hidden"
macos-titlebar-style = "tabs"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
font-family = "Monaspace Neon NF"
font-size = 12
{{ end }}
