{{ if eq .chezmoi.os "darwin" }}
Include ~/.orbstack/ssh/config
{{ end }}

# Global Defaults
Host *
    {{ if eq .chezmoi.os "darwin" }}
    UseKeychain yes
    AddKeysToAgent yes
    SetEnv TERM=xterm-256color # ghostty fix
    {{ end }}

    IdentityFile ~/.ssh/id_ed25519

# --- Homelab Appliance Hosts ---
Host docker-01
    User ubuntu
    HostName 10.255.102.10

Host docker-02
    User ubuntu
    HostName 10.255.102.11

Host docker-foreign
    User ubuntu
    HostName 10.255.103.10

Host plex
    User ubuntu
    HostName 10.255.102.21

Host coolify-01
    User ubuntu
    HostName 10.255.102.12

Host syncthing
    User ubuntu
    HostName 10.255.102.23

Host tailscale
    User ubuntu
    HostName 10.255.102.188

Host ptero.cloud.jckcthbrt.io
    User ubuntu
    Port 2222

# --- Local AI Hosts ---
Host claude-02
    HostName 10.255.103.11
    User jack
Host claude-02-ts
    HostName claude-02.stoat-istrian.ts.net
    User jack
