[Unit]
Description=NZXT AIO + Lighting Service

[Service]
Type=oneshot

# Fans/pump
ExecStart=liquidctl --match kraken set pump speed 35 70  40 80  45 85  50 90  55 95  60 100
ExecStart=liquidctl --match kraken set fan speed  20 30  30 50  40 60  45 70  50 80  55 90  60 100

# Lighting
ExecStart=liquidctl --match smart set led color fading da22ff 9733ee 323232 26a0da 9796f0 6e48aa
ExecStart=liquidctl --match kraken set logo color fading da22ff 9733ee 323232 26a0da 9796f0 6e48aa
ExecStart=liquidctl --match kraken set logo color off

[Install]
WantedBy=default.target
