{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
brew bundle --file=/dev/stdin <<EOF

# cli
brew "7zip"
brew "direnv"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "eza"
brew "fish"
brew "fisher"
brew "fzf"
brew "ghq"
brew "git"
brew "git-delta"
brew "htop"
brew "just"
brew "mise"
brew "neofetch"
brew "neovim"
brew "starship"
brew "wget"
brew "yt-dlp"

# fonts
cask "font-monaspace"
cask "font-symbols-only-nerd-font"

# desktop applications
cask "alfred"
cask "appcleaner"
cask "ghostty"
cask "hiddenbar"
cask "iterm2"
cask "orbstack"
cask "rectangle"
cask "shottr"
cask "zed"

{{ if eq .isWorkMachine "true" }}
brew "pulumi"
brew "terraform"
cask "1password"
cask "eloston-chromium"
cask "firefox"
cask "google-cloud-sdk"
cask "jetbrains-toolbox"
cask "obsidian"
cask "postman"
cask "slack"
cask "utm"
cask "visual-studio-code"
{{ end }}

{{ if eq .isWorkMachine "false" }}
cask "bambu-studio"
cask "discord"
cask "iina"
cask "jagex"
cask "modrinth"
cask "parsec"
cask "signal"
cask "whatsapp"
{{ end }}

EOF
{{ end -}}
