# generate headings: `figlet -f graffiti your_text`

{{ if eq .chezmoi.os "darwin" }}
# .__                         ___.
# |  |__   ____   _____   ____\_ |_________   ______  _  __
# |  |  \ /  _ \ /     \_/ __ \| __ \_  __ \_/ __ \ \/ \/ /
# |   Y  (  <_> )  Y Y  \  ___/| \_\ \  | \/\  ___/\     /
# |___|  /\____/|__|_|  /\___  >___  /__|    \___  >\/\_/
#      \/             \/     \/    \/            \/
fish_add_path "/opt/homebrew/bin"
{{ end }}

# .__       .__  __
# |__| ____ |__|/  |_
# |  |/    \|  \   __\
# |  |   |  \  ||  |
# |__|___|  /__||__|
#         \/
starship init fish | source
mise activate fish | source
direnv hook fish | source

#   _____.__       .__
# _/ ____\__| _____|  |__
# \   __\|  |/  ___/  |  \
#  |  |  |  |\___ \|   Y  \
#  |__|  |__/____  >___|  /
#                \/     \/
set -g fish_greeting # Disable greeting

#   ____   _______  __
# _/ __ \ /    \  \/ /
# \  ___/|   |  \   /
#  \___  >___|  /\_/
#      \/     \/
set -gx EDITOR "nvim"

#        .__  .__
# _____  |  | |__|____    ______
# \__  \ |  | |  \__  \  /  ___/
#  / __ \|  |_|  |/ __ \_\___ \
# (____  /____/__(____  /____  >
#      \/             \/     \/

alias d='docker'
alias c='docker compose'
alias l="eza --group-directories-first -gl"
alias la="l -a"
alias g="git"
alias v="nvim"
alias dotfiles="EDITOR=zed chezmoi edit"

{{ if eq .isWorkMachine "true" }}
#                      __
# __  _  _____________|  | __
# \ \/ \/ /  _ \_  __ \  |/ /
#  \     (  <_> )  | \/    <
#   \/\_/ \____/|__|  |__|_ \
#                          \/

alias tf="terraform"

{{ if eq .chezmoi.os "darwin" }}
source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.fish.inc"
{{ end }}

{{ end }}
