# requires `nfs-utils`
[Unit]
Description=<WHAT> NFS Mount
Requires=systemd-networkd.service
After=network-online.target
Wants=network-online.target

[Mount]
What=<SERVER_IP>:/what/to/mount
Where=/where/to/mount
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
