# Default scheme
# by Chris Kempson (http://chriskempson.com)
#
# GTK 3.0 template 
# by Jonn Mostovoy - https://github.com/manpages
#
# Generated
#  by base16-builder - https://github.com/base16-builder/base16-builder

style "default"
{
  engine "hcengine" {
    edge_thickness = 2
  }

  xthickness = 2
  ythickness = 2

  EelEditableLabel::cursor_aspect_ratio = 0.1
  EelEditableLabel::cursor_color    = "#7cafc2"

  GtkEntry::cursor_color    = "#7cafc2"
  GtkEntry::cursor_aspect_ratio = 0.1

  GtkHSV::focus-line-pattern = "\0"

  GtkRange::stepper-size = 20

  GtkTextView::cursor_aspect_ratio = 0.1
  GtkTextView::cursor_color    = "#7cafc2"

  GtkTreeView::expander-size = 16

  GtkWidget::focus-line-pattern = "\4\2"
  GtkWidget::focus-line-width = 2
  GtkWidget::focus-padding = 0
  GtkWidget::interior_focus = 1
  GtkWidget::link-color = "#7cafc2"
  GtkWidget::visited-link-color = "#ba8baf"

  # Nautilus
  NautilusIconContainer::frame_text = 1

  # Pidgin
  GtkIMHtml::hyperlink-color = "#7cafc2"
  GtkIMHtml::hyperlink-visited-color = "#ba8baf"
  GtkIMHtml::hyperlink-prelight-color = "#f8f8f8"

  # Evolution
  GtkHTML::link_color = "#7cafc2"
  GtkHTML::vlink_color = "#ba8baf"
  GtkHTML::cite_color = "#f8f8f8"

  fg[NORMAL]      = "#b8b8b8"
  text[NORMAL]    = "#b8b8b8"
  bg[NORMAL]      = "#181818"
  base[NORMAL]    = "#181818"

  fg[INSENSITIVE]      = "#b8b8b8"
  bg[INSENSITIVE]      = "#282828"
  text[INSENSITIVE]    = "#b8b8b8"
  base[INSENSITIVE]    = "#282828"

  fg[PRELIGHT]    = "#181818"
  text[PRELIGHT]  = "#181818"
  bg[PRELIGHT]    = "#b8b8b8"
  base[PRELIGHT]  = "#b8b8b8"

  fg[ACTIVE]      = "#d8d8d8"
  text[ACTIVE]    = "#d8d8d8"
  bg[ACTIVE]      = "#383838"
  base[ACTIVE]    = "#383838"

  fg[SELECTED]    = "#181818"
  text[SELECTED]  = "#181818"
  bg[SELECTED]    = "#b8b8b8"
  base[SELECTED]  = "#f8f8f8"
}

class "GtkWidget" style "default"

